button.neumorphic {
    background-color: #2471EA;
    color: white;
}
.neumorphic {
    box-shadow: 12px 12px 24px #d1d9e6, -12px -12px 24px #f9f9f9;
}

.neumorphic-inset {
    box-shadow: inset 6px 6px 12px #d1d9e6, inset -6px -6px 12px #f9f9f9;
}

/* 友链圆形边框 */
.rounded-icon {
    border-radius: 50%;
    border: 1px rgba(255, 255, 255, 0.0);
}
/*.dark .neumorphic {*/
/*    box-shadow: 12px 12px 24px #1a1a1a, -12px -12px 24px #2c2c2c;*/
/*}*/

/*.dark .neumorphic-inset {*/
/*    box-shadow: inset 6px 6px 12px #1a1a1a, inset -6px -6px 12px #2c2c2c;*/
/*}*/

.animate-float {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

/* 全局模糊遮罩效果 */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.6); /* 半透明背景 */
    backdrop-filter: blur(10px); /* 模糊效果 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* 置顶显示 */
}

#verificationContainer {
    z-index: 9999; /* Makes sure the verification container is on top */
}

/* 主要内容的初始隐藏 */
#mainContent {
    display: none; /* 页面初始隐藏 */
}